#background-image {
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    z-index: -1;
    background-color: var(--green);
}
