<app-background-image></app-background-image>
<body>
    <header>
        <app-go-back [backRoute]="'/home'"></app-go-back>
        <app-title id="title" [title]="title"></app-title>
    </header>
    <main>
        <button
            mat-raised-button
            type="button"
            class="navigation-btn"
            id="previous"
            (click)="sheetContainer.previousIndex()"
            [disabled]="sheetContainer.pageIndex === 0"
        >
            <img src="./assets/Images/back.png" />
        </button>
        <mat-grid-list cols="4" rowHeight="fit" gutterSize="30px">
            <mat-grid-tile id="tile" *ngFor="let sheet of sheetContainer.currentGames">
                <div id="content-container">
                    <app-game-sheet id="sheet" [sheetInput]="sheet"> </app-game-sheet>
                    <app-play-buttons id="btn-container" [title]="sheet.title" [isInitiallyVsActive]="sheet.isInitiallyVsActive"></app-play-buttons>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <button
            mat-raised-button
            class="navigation-btn"
            type="button"
            id="next"
            (click)="sheetContainer.nextIndex()"
            [disabled]="sheetContainer.isLastPage"
        >
            <img src="./assets/Images/forward.png" />
        </button>
    </main>
</body>
